@import "tailwindcss";

@theme {
    --color-vanilla-cream: #F0E7D5;
    --color-midnight-indigo: #212842;
}

/* Force dark mode to use class strategy */
@custom-variant dark (&:where(.dark, .dark *));

@layer base {
    body {
        transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 300ms;
    }
}

@layer utilities {
    .reveal {
        opacity: 0;
        transform: translateY(30px);
        transition: all 0.8s ease-out;
    }

    .reveal.active {
        opacity: 1;
        transform: translateY(0);
    }
}